@media only screen and (min-width:1024px) {
    .search-input {
        padding-left: 2.2rem !important; /* Adjust this value as needed */
    }
    .search-container {
        position: relative !important;
    }
    .search-icon {
        position: absolute !important;
        left: 10px !important; /* Adjust this value as needed */
        top: 50% !important;
        transform: translateY(-50%) !important;
    }
}