.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  color: #4e5155;
  padding: 10px;
}

.nav-link.active {
  color: #007bff;
}

.badge {
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group span {
  background-color: #f1f3f5;
  padding: 8px;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 0 4px 4px 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
  gap: 10px;
  flex-wrap: wrap;
}

/* .btn {
  width: 3rem;
  height: 2rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
} */

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
}

.tabs li {
  margin-right: 20px;
}

.tabs a {
  text-decoration: none;
  color: #4e5155;
  font-size: 18px;
  padding-bottom: 10px;
  display: inline-block;
  transition: color 0.3s ease;
}

.tabs a.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.modal-content {
  padding: 20px;
}

.checkbox-group {
  display: block;
  gap: 10px;
}

.checkbox-group label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.select-members {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 5px;
}

.table-responsive {
  overflow-x: auto;
}

@media (max-width: 1199px) {
  .button-container {
    justify-content: center;
    flex-wrap: nowrap;
  }

  .btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 820px) {
  .button-container {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
  }
}

@media (max-width: 600px) {
  .tabs {
    flex-direction: column;
    align-items: center;
  }

  .tabs li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .button-container {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
  }
}

@media (max-width: 360px) { 
    .button-container {
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: 5px;
    }
  }
