<configuration>
    <database>
        <host>aws-0-ap-southeast-1.pooler.supabase.com</host>
        <username>postgres.rvtypwqfctwjnljbuixi</username>
        <password>lDZUDVrwXswnHFWKhDR9DLl1</password>
        <dbname>postgres</dbname>
        <port>6543</port>
    </database>
    <mail>
        <host>smtp.mailtrap.io</host>
        <username>username</username>
        <password>password</password>
    </mail>
</configuration>