.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
 
.modal-content {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    padding: 20px;
    border: 1px solid #888;
    max-width: 70%;
    max-height: 70%;
    overflow-y: auto;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
} 

.summary-table {
    margin-top: .2rem;
    max-width: 100%;
    box-sizing: border-box;
}
 
.summary-table th, .summary-table td {
    padding-right: 12px !important;
    text-align: left;
    white-space: nowrap;  
}

@media (max-width: 600px) {
    .modal-content {
        max-width: 95%;
        top: 10%;
        transform: translateX(-50%);
    } 
}  

