.date-header p {

    margin: 0; 
    color: black;
}

.date-header span {
    margin-top: .4rem !important;
    margin-bottom: .4rem !important;
    display: flex;
    align-items: center;
}

.date-header img {
    margin-left: 10px;
    margin-right: 10px;
}

.employee-name {
    margin-top: 1.2rem !important;
    margin-left: 4rem !important;
    display: flex;
    align-items: center;
}

.employee-name img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}