.date-filter {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
} 

.date-filter input[type="text"] {
    width: 300px;
    padding: 10px; 
    border: 1px solid #ccc;
    font-size: 14px; 
    margin-right: 11.8rem !important;
} 

/* .date-filter i {
    margin-right: 12px;
    font-size: 18px;
} */

@media (max-width: 600px) {
    .date-filter {
        width: 100%;
        margin-top: 1rem;
        text-align: center;
        justify-content: center;
    }

    .date-filter input[type="text"] {
        width: 100%;
        max-width: 100%;
    } 
}