.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#reportsTable th,
#reportsTable td {
  width: 15% !important;
  white-space: nowrap;
}

.fixed-height {
    height: 3.4rem !important;
}

.fixed-height button {
    margin: 0 !important;
}

.table thead th {
  color: #189174;
  font-weight: bold;
  padding: 10px;
}

.table tbody tr {
  border-bottom: 2px solid #f4f4f4;
}

.table tbody tr td {
  padding: 0.5px;
  text-align: center;
  border-top: none;
  border-bottom: none;
}

@media (max-width: 1220px) {
  .reports-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  h4 {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .button-container {
    flex: 1 1 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .search {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }

  .search input[type="text"] {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 820px) {
  h4 {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .button-container {
    flex: 1 1 100%;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .search {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
  }

  .search input[type="text"] {
    width: 100%;
    max-width: 100%;
  }
}
